<div class="container movies-container">
  <% @movies.each_with_index do |movie, index| %>
    <div class="row mt-5 movie-item">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src=<%= "https://www.youtube.com/embed/#{movie.video_id}"%>
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6 mt-2 mt-md-0">
        <div class="d-flex flex-column justify-content-start">
          <h5 class="text-danger m-0 font-weight-bold movie-title"><%= movie.title %></h5>
          <p class="m-0"><%= "#{I18n.t('movies.shared_by')}: #{movie.user.email}" %></p>
          <p class="m-0"><%= "#{I18n.t('movies.description')}:" %></p>
          <div class="movie-description-wrapper">
            <p class="collapse m-0 movie-description" id=<%= "collapse-description-#{index}" %>><%= movie.description %></p>
            <a class="collapsed collapse-control" data-toggle="collapse" href=<%= "#collapse-description-#{index}" %> aria-expanded="false" aria-controls=<%= "collapse-description-#{index}" %>></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @movies, window: 2 %>
</div>
