<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Remi Funny Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('funny_movie.png') %>
  <body>
    <header class="sticky-top bg-white px-lg-5 px-3">
      <% flash.each do |message_type, messages| %>
        <% @messages = Array(messages) %>
        <% @messages.each do |message| %>
          <div class="alert alert-<%= message_type %> alert-dismissible fade show mt-2 mb-0 py-2" role="alert">
            <%= message %>
            <button type="button" class="close pt-1 pr-2" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
      <div class="row align-items-center justify-content-between">
        <div class="col-md-4 text-center text-md-left  mt-2 mt-md-0">
          <a class="home-page" href=<%= root_path %>>
            <%= icon('fa', 'home', class: 'text-success size-logo')%>
            <span class="size-title font-weight-bold text-danger">Funny Movies</span>
          </a>
        </div>
        <% if logged_in? %>
          <%= render "partials/welcome" %>
        <% else %>
          <%= render "partials/login_register", locals: {prev_email: @prev_email} %>
        <% end %>
      </div>
      <hr class="my-1"/>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <%= yield :page_script %>
  </body>
</html>
